@page
@model VoBoo.AddDictionaryModel
@{
	ViewData["Title"] = "AddDictionary";
}

<h1>Add Dictionary</h1>
<hr />

<div class="row">
	<div class="col-md-5">
		<form asp-route-returnUrl="\Dictionaries" method="post">
			<h4>Fill dictionary data</h4>
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Input.Name"></label>
				<input asp-for="Input.Name" class="form-control" />
				<span asp-validation-for="Input.Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.Description"></label>
				<input asp-for="Input.Description" class="form-control" />
				<span asp-validation-for="Input.Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.LearningLang"></label>
				<select asp-for="Input.LearningLang" class="custom-select">
					@foreach (var item in Model.AllowedLanguages)
					{
						<option value="@item">@item</option>
					}
				</select>
				<span asp-validation-for="Input.Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.KnownLang"></label>
				<select asp-for="Input.KnownLang" class="custom-select">
					@foreach (var item in Model.AllowedLanguages)
					{
						<option value="@item">@item</option>
					}
				</select>
				<span asp-validation-for="Input.Description" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Add dictionary</button>
		</form>
	</div>
</div>