@page
@model VoBoo.DictionariesModel
@{
    ViewData["Title"] = "Dictionaries";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
	<div class="col-md-6">
		<a class="btn btn-info" asp-area="" asp-page="/Private/AddDictionary">Add dictionary</a>
		<hr />
		@if (Model.UserDictionaries.Count == 0)
		{
			<h4>
				You don't have any dictionary yet
			</h4>
		}
		else
		{
			<h4>
				Your dictionaries:
			</h4>
			<div style="margin-bottom: 15px;"></div>
			@foreach (var item in Model.UserDictionaries)
			{
				<div class="row">
					<div class="col-1 col-sm-1" style="margin-top: -4px">
						<div>
							<i class="icon ion-md-bookmarks" style="font-size: 23px;"></i>
						</div>
					</div>
					<div class="col col-sm-5">
						<div style="padding-top: 3px">@item.Name</div>
					</div>
					<div class="col col-sm-6">
						<form asp-page="/private/dictionary" method="get">
							<input type="hidden" name="id" value="@item.Id" />
							<button class="btn btn-info btn-sm">Go to</button>
						</form>
					</div>
				</div>
				<div style="margin-bottom: 5px;"></div>
			}
		}
	</div>
</div>