@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        <div class="col-md-2">
        </div>
		<div class="col-md-8">
			<hr />
			<p>The application is dedicated to help you to encrease your vocabulay during translation practice. You can add words you want to practice.</p>
		</div>
        <div class="col-md-2">
        </div>
    </div>
</div>
