@page
@model VoBoo.AddLanguageModel
@{
    ViewData["Title"] = "Add Language";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-5">
        <section>
            <form asp-route-returnUrl="/private/admin/languages" method="post">
                <h4>Enter language name</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add language</button>
                </div>
            </form>
        </section>
    </div>
</div>